# DSCI551 Final Project Data Preparation

## Import Libraries & Mount Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
import pandas as pd
import numpy as np

## Open Data into DataFrames

In [23]:
raw_data = '/content/drive/My Drive/DSCI551/Final_Project/Data/Raw Data' #this needs to change depending on user
state_oews_2019_df = pd.read_excel(raw_data + '/state_M2019_dl.xlsx')
state_oews_2020_df = pd.read_excel(raw_data + '/state_M2020_dl.xlsx')

In [24]:
state_oews_2019_df['year'] = 2019
state_oews_2020_df['year'] = 2020

In [25]:
state_oews_2019_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,year
0,1,Alabama,2,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,...,26.34,39.26,18270,23000,34800,54790,81660,NaN,NaN,2019
1,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,...,63.07,90.16,47250,66140,93660,131180,187530,NaN,NaN,2019
2,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,...,#,#,68630,115110,180780,#,#,NaN,NaN,2019
3,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,...,70.48,#,48240,66370,98630,146610,#,NaN,NaN,2019
4,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1031,Legislators,detailed,...,*,*,16200,17210,18880,28660,55220,True,NaN,2019

In [26]:
state_oews_2020_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY,year
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,27.39,41.07,18690.0,24060.0,36250.0,56980.0,85430.0,NaN,NaN,2020
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,64.58,91.89,47740.0,67330.0,95120.0,134320.0,191130.0,NaN,NaN,2020
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,#,#,49480.0,97930.0,161290.0,#,#,NaN,NaN,2020
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,73.58,#,48030.0,67740.0,101170.0,153050.0,#,NaN,NaN,2020
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,*,*,16220.0,17190.0,18820.0,27920.0,55970.0,True,NaN,2020

## Prep and Merge Data

In [27]:
#making column names for 2020 lowercase
state_oews_2020_df.columns = state_oews_2020_df.columns.str.strip().str.lower()

In [28]:
#merging dataframes
oews_merged_df = pd.concat([state_oews_2019_df, state_oews_2020_df], ignore_index = True)

In [29]:
oews_merged_df

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,year,prim_state
0,1,Alabama,2,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,...,39.26,18270,23000,34800,54790,81660,NaN,NaN,2019,NaN
1,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,...,90.16,47250,66140,93660,131180,187530,NaN,NaN,2019,NaN
2,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,...,#,68630,115110,180780,#,#,NaN,NaN,2019,NaN
3,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,...,#,48240,66370,98630,146610,#,NaN,NaN,2019,NaN
4,1,Alabama,2,0,Cross-industry,cross-industry,1235,11-1031,Legislators,detailed,...,*,16200,17210,18880,28660,55220,True,NaN,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72462,78,Virgin Islands,3,0,Cross-industry,cross-industry,1235,53-7021,Crane and Tower Operators,detailed,...,32.7,54630.0,57100.0,61220.0,65340.0,68020.0,NaN,NaN,2020,VI
72463,78,Virgin Islands,3,0,Cross-industry,cross-industry,1235,53-7051,Industrial Truck and Tractor Operators,detailed,...,21.39,23570.0,24560.0,26410.0,30720.0,44480.0,NaN,NaN,2020,VI
72464,78,Virgin Islands,3,0,Cross-industry,cross-industry,1235,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,...,19.94,23340.0,24970.0,29040.0,36380.0,41470.0,NaN,NaN,2020,VI
72465,78,Virgin Islands,3,0,Cross-industry,cross-industry,1235,53-7064,"Packers and Packagers, Hand",detailed,...,15.31,23320.0,23380.0,24470.0,25610.0,31840.0,NaN,NaN,2020,VI
72466,78,Virgin Islands,3,0,Cross-industry,cross-industry,1235,53-7065,Stockers and Order Fillers,detailed,...,15.47,23340.0,23970.0,25040.0,26910.0,32170.0,NaN,NaN,2020,VI

In [30]:
oews_merged_df.to_csv('/content/drive/My Drive/DSCI551/Final_Project/Data/Raw Data/2019-2020_oews.csv')

## Explore and Clean Data

In [31]:
## open merged data
raw_data = '/content/drive/My Drive/DSCI551/Final_Project/Data/Raw Data'
oews_df = pd.read_csv(raw_data + '/2019-2020_oews.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
#remove unncesessary features
oews_df = oews_df.drop(['Unnamed: 0','area','i_group','pct_total','prim_state'], axis=1)

#we also potentially drop: area_type, naics_title, own_code, hourly, year

In [33]:
oews_df.dtypes

area_title      object
area_type        int64
naics            int64
naics_title     object
own_code         int64
occ_code        object
occ_title       object
o_group         object
tot_emp         object
emp_prse        object
jobs_1000       object
loc_quotient    object
h_mean          object
a_mean          object
mean_prse       object
h_pct10         object
h_pct25         object
h_median        object
h_pct75         object
h_pct90         object
a_pct10         object
a_pct25         object
a_median        object
a_pct75         object
a_pct90         object
annual          object
hourly          object
year             int64
dtype: object

In [34]:
#manually filtering numerical columns into list
col_str = 'tot_emp	emp_prse	jobs_1000	loc_quotient	pct_total	h_mean	a_mean	mean_prse	h_pct10	h_pct25	h_median	h_pct75	h_pct90	a_pct10	a_pct25	a_median	a_pct75	a_pct90'
num_features = [column for column in oews_df.columns if column in col_str]
num_features

['tot_emp',
 'emp_prse',
 'jobs_1000',
 'loc_quotient',
 'h_mean',
 'a_mean',
 'mean_prse',
 'h_pct10',
 'h_pct25',
 'h_median',
 'h_pct75',
 'h_pct90',
 'a_pct10',
 'a_pct25',
 'a_median',
 'a_pct75',
 'a_pct90']

In [35]:
#filling missing values (*) with NaNs and # with max values (100.0 for hourly and 208000 for annual)
for column in num_features:
  oews_df[column] = oews_df[column].replace('*',np.nan)
  oews_df[column] = oews_df[column].replace('**',np.nan)
  if column.startswith('h'):
    oews_df[column] = oews_df[column].replace('#',100.0)
  elif column.startswith('a'):
    oews_df[column] = oews_df[column].replace('#', 208000)
  oews_df[column] = oews_df[column].astype(float) # cast all numerics to floats

In [36]:
oews_df

,area_title,area_type,naics,naics_title,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,...,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,year
0,Alabama,2,0,Cross-industry,1235,00-0000,All Occupations,total,1974170.0,0.4,...,26.34,39.26,18270.0,23000.0,34800.0,54790.0,81660.0,NaN,NaN,2019
1,Alabama,2,0,Cross-industry,1235,11-0000,Management Occupations,major,83760.0,1.2,...,63.07,90.16,47250.0,66140.0,93660.0,131180.0,187530.0,NaN,NaN,2019
2,Alabama,2,0,Cross-industry,1235,11-1011,Chief Executives,detailed,1320.0,6.8,...,100.00,100.00,68630.0,115110.0,180780.0,208000.0,208000.0,NaN,NaN,2019
3,Alabama,2,0,Cross-industry,1235,11-1021,General and Operations Managers,detailed,30790.0,1.8,...,70.48,100.00,48240.0,66370.0,98630.0,146610.0,208000.0,NaN,NaN,2019
4,Alabama,2,0,Cross-industry,1235,11-1031,Legislators,detailed,1110.0,7.5,...,NaN,NaN,16200.0,17210.0,18880.0,28660.0,55220.0,True,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72462,Virgin Islands,3,0,Cross-industry,1235,53-7021,Crane and Tower Operators,detailed,60.0,29.3,...,31.41,32.70,54630.0,57100.0,61220.0,65340.0,68020.0,NaN,NaN,2020
72463,Virgin Islands,3,0,Cross-industry,1235,53-7051,Industrial Truck and Tractor Operators,detailed,90.0,38.9,...,14.77,21.39,23570.0,24560.0,26410.0,30720.0,44480.0,NaN,NaN,2020
72464,Virgin Islands,3,0,Cross-industry,1235,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,600.0,10.5,...,17.49,19.94,23340.0,24970.0,29040.0,36380.0,41470.0,NaN,NaN,2020
72465,Virgin Islands,3,0,Cross-industry,1235,53-7064,"Packers and Packagers, Hand",detailed,130.0,19.7,...,12.31,15.31,23320.0,23380.0,24470.0,25610.0,31840.0,NaN,NaN,2020
72466,Virgin Islands,3,0,Cross-industry,1235,53-7065,Stockers and Order Fillers,detailed,590.0,11.6,...,12.94,15.47,23340.0,23970.0,25040.0,26910.0,32170.0,NaN,NaN,2020

In [37]:
oews_df.to_csv('/content/drive/My Drive/DSCI551/Final_Project/Data/Clean Data/oews_clean_v1.csv')

In [39]:
test_df = pd.read_csv('/content/drive/My Drive/DSCI551/Final_Project/Data/Clean Data/oews_clean_v1.csv')

In [43]:
test_df[test_df['occ_title'] == 'Prosthodontists']

array([nan])